.buttons {
    -fx-background-color: transparent;
}

.title {
    -fx-font-weight: bold;
}

.editButton {
    -fx-background-color: pink;
    -fx-background-radius: 50px;
    -fx-text-fill: BLACK;
}

.editButton:hover {
    -fx-text-fill: RED;
}

.exitButton {
    -fx-background-color: red;
    -fx-background-radius: 50px;
    -fx-text-fill: WHITE;
}

.exitButton:hover {
    -fx-text-fill: BLACK;
}

.listButton {
    -fx-alignment: CENTER-LEFT;
    -fx-background-color: transparent;
    -fx-text-fill: BLACK;
}

.listButton:hover {
    -fx-alignment: CENTER-LEFT;
    -fx-background-color: green;
    -fx-text-fill: WHITE;
}

.simObjListButton {
    -fx-text-fill: BLACK;
}

.simObjListButton:hover {
    -fx-text-fill: RED;
}

.grid {
    -fx-background-color: WHITE;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: WHITE;
}

.choiceBox {
    -fx-background-radius: 50px;
}