.buttons {
    -fx-background-color: transparent;
}

.title {
    -fx-font-weight: bold;
}

.editButton {
    -fx-background-color: pink;
    -fx-background-radius: 50px;
}

.exitButton {
    -fx-background-color: red;
    -fx-background-radius: 50px;
}

.listButton {
    -fx-alignment: CENTER-LEFT;
    -fx-background-color: transparent;
}

.listButton:hover {
    -fx-alignment: CENTER-LEFT;
    -fx-background-color: green;
}